export(BlackLittermanFormula)
export(BlackScholesCallPrice)
export(BlackScholesCallPutPrice)
export(BlackScholesPutPrice)
export(Central2Raw)
export(CentralAndStandardizedStatistics)
export(CMAcombination)
export(CMAseparation)
export(ComputeMoments)
export(ComputeMVE)
export(CondProbViews)
export(ConvertChangeInYield2Price)
export(ConvertCompoundedReturns2Price)
export(Cumul2Raw)
export(DetectOutliersViaMVE)
export(DoubleDecay)
export(EfficientFrontierPrices)
export(EfficientFrontierReturns)
export(EfficientFrontierReturnsBenchmark)
export(EntropyProg)
export(Fit2Moms)
export(FitExpectationMaximization)
export(FitMultivariateGarch)
export(FitOrnsteinUhlenbeck)
export(garch1f4)
export(garch2f8)
export(GenerateLogNormalDistribution)
export(GenerateUniformDrawsOnUnitSphere)
export(hermitePolynomial)
export(HorizonPricing)
export(integrateSubIntervals)
export(InterExtrapolate)
export(LeastInfoKernel)
export(linreturn)
export(Log2Lin)
export(LognormalCopulaPdf)
export(LognormalMoments2Parameters)
export(LognormalParam2Statistics)
export(MaxRsqCS)
export(MaxRsqTS)
export(MleRecursionForStudentT)
export(MvnRnd)
export(NoisyObservations)
export(NormalCopulaPdf)
export(normalizeProb)
export(PanicCopula)
export(PartialConfidencePosterior)
export(PerformIidAnalysis)
export(PlotCompositionEfficientFrontier)
export(PlotDistributions)
export(PlotFrontier)
export(PlotMarginalsNormalInverseWishart)
export(PlotVolVsCompositionEfficientFrontier)
export(Prior2Posterior)
export(ProjectionStudentT)
export(QuantileMixture)
export(RandNormalInverseWishart)
export(Raw2Central)
export(Raw2Cumul)
export(RejectOutlier)
export(RIEfficientFrontier)
export(robustBayesianPortfolioOptimization)
export(SimulateJumpDiffusionMerton)
export(std)
export(StudentTCopulaPdf)
export(subIntervals)
export(SummStats)
export(Tweak)
export(TwoDimEllipsoid)
export(ViewCurveSlope)
export(ViewImpliedVol)
export(ViewRealizedVol)
